<%- include('bootheader') -%>
<div class="jumbotron">
    <h1>
        Triangle Area:
    </h1>
    The area of a triangle with sides: <%= a%>,  <%=b%>, <%=c%> 
    is <%=area%>.
    <hr>
</div>

<a href="/triangleArea">Calculate area of another triangle</a>
    

<%- include('bootfooter') -%>